<div class="example">
    <h2>Operador BindCallback</h2>

    <p class="info">
        Convierte una callback API a una función que retorna un observable.
    </p>

    <span class="exp-note">
        <strong>Ejemplo: </strong> Se usa el operador <strong>ajax</strong> para hacer una petición HTTP de tipo GET a una url, cuando el servidor responde, el método devuelve la respuesta
        envuelta en un <strong>observable</strong> y agrega un delay de 2000 ms, esto permite a la aplicación procesar la información de manera reactiva.
    </span>

    <div class="result_display">
        <p>Seleccione un archivo de texto plano (.txt, .csv, .log)</p>
        <input type="file" (change)="onFileSelected($event)" />
        <h3>Resultado del ejemplo</h3>

        <div>
            <h4> Contenido del archivo seleccionado </h4>
            <p> {{ fileContent }} </p>
        </div>
        <ng-template #noData>
            <h4> Cargando... </h4>
        </ng-template>
    </div>

    <span class="note">
        <strong>Nota 1: </strong>Una <strong>solicitud AJAX</strong> (Asynchronous Javascript and XML) es una forma para que una aplicación web se comunique con un servidor en segundo
        plano, sin recargar toda la página web. Esta técnica permite aplicaciones web dinámicas, rápidas y reponsivas mediante la actualización de partes de una página web asíncronamente. 
    </span>

    <span class="note">
        <strong>Clave 1: </strong> AJAX envuelve la respuesta en un objeto <strong>response</strong>
    </span>
</div>